{% extends 'layout/base.html' %}

{% block title %}index{% endblock %}

{% block style %}
    /* 제목관련 스타일시트 */
    #title { font-weight: bolder; text-shadow: 3px 3px 3px darkgray}

    /* 메인 영역 크기 지정 */
    #main {height: auto; min-height: 500px}

    /* 링크관련 스타일시트 */
    a { border-radius: 10px; padding: 5px; letter-spacing: 2px;
        font-size: 20px; font-weight: bold}
    a:link {color: black; text-decoration: none; background: skyblue;
        border: 2px solid dodgerblue; box-shadow: 3px 3px 3px blue}
    a:visited {color: black; text-decoration: none; background: skyblue;
        border: 2px solid dodgerblue; box-shadow: 3px 3px 3px blue}
    a:hover { background:aqua  ;color: blue;
        text-decoration: underline; font-weight: bold}
    a:active { color: red; text-decoration : none;
        font-weight: bold; background: lightyellow}

    /* 컨텐츠 영역 너비 지정 및 정중앙 배치 */
    #wrap { /*border: 1px solid red;*/ width: 1250px; margin: 0 auto}

    /* 상단메뉴 수평배치 */
    ul {list-style: none; padding: 0}
    ul li { display: inline-block; margin-left: 125px}

    /* 상단 로고 배치 */
    header h1 { margin-bottom: 45px}

    /* 저작권 문구 가운데 정렬 */
    footer span { display: block; text-align: center}

    /* 구분선 */
    hr {background: black; height: 2px;}
{% endblock %}

{% block content %}main{% endblock %}

{% block jscript %}{% endblock %}
